.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
}

.background {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}
.overlay-gradient{
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #1a1a1a 0%, transparent 100%);
    background-position: 100% 100%;
}
.scrolling-line {
    position: relative;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.1);
    font-size: 2rem;
    animation: scroll linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(0vw);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

a {
    width: 100%;
}

.startButton, .adminButton {
    width: inherit;
}

.startButton {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    background-color: #1a1a1a;
    border: 1px solid #646cff;
    color: #fff;
    overflow: hidden;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
    z-index: 1; /* Ensure the button is above the pseudo-element */
}

.startButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #646cff 0%, #646cff 50%, transparent 50%, transparent 100%);
    background-size: 200% 200%;
    background-position: 100% 100%;
    transition: background-position 0.5s ease;
    z-index: 0;
}

.startButton:hover::before {
    background-position: 0 0;
}

.startButton:hover {
    color: #fff;
    transform: scale(1.1);
    animation: jiggle 1s ease infinite;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.startButton > * {
    position: relative;
    z-index: 2; /* Ensure the text is above the pseudo-element */
}

.themes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.theme {
    position: relative;
    background-color: #1a1a1a;
    border: 1px solid #646cff;
    border-radius: 10px;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    color: #fff; /* Default text color */
    transition: color 0.3s ease; /* Transition for text color */
}

.theme::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #646cff 0%, #646cff 50%, transparent 50%, transparent 100%);
    background-size: 200% 200%;
    background-position: 100% 100%;
    transition: background-position 0.5s ease; /* Transition for background swipe */
    z-index: 0; /* Ensure the pseudo-element is behind the text */
}

.theme:hover::before {
    background-position: 0 0; /* Move the gradient to create the diagonal swipe effect */
}

.theme:hover {
    color: #fff; /* Change text color on hover */
}

.theme > * {
    position: relative;
    z-index: 2; /* Ensure the text is above the pseudo-element */
}