.loginRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  p {
    cursor: pointer;
  }
}

h1 {
  margin: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #242424;
  padding: 0 5px;
  font-size: 0.9rem;
  color: #646cff;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #646cff;
  background-color: #242424;
  outline: none;
  font-size: 1rem;
}

.error {
  color: red;
  font-size: 0.8rem;
}